.page-buttons ul {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 45px;
  justify-content: center;
}

.page-buttons ul li a {
  border-radius: 10px !important;
  font-weight: 700;
  padding: 15px 20px;
  margin: 5px;
  margin-bottom: 0;
  color: #1ebeb6;
}

.page-buttons ul .active a {
  border-color: #dee2e6;
  padding: 15px 20px;
  margin: 5px;
  margin-bottom: 0;
  border-radius: 10px;
  background-color: #1ebeb6 !important;
  border: none;
  box-shadow: none;
  outline: none;
}
