* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

li {
  list-style-type: none !important;
}

a:hover {
  text-decoration: none;
}

.top-page-area {
  padding: 18px 0;
  border-bottom: 1px solid #e7e7e7;
}

.top-page-area a {
  color: #233645;
  font-weight: 700;
}

.top-page-area .top-left {
  color: #666666;
  margin-bottom: 0;
}

.top-page-area .top-left a {
  color: black;
  text-decoration: underline;
  font-weight: 600;
}

.top-page-area .top-right .top-right-info {
  margin-right: 2%;
}

.top-page-area .top-right .top-right-info ul {
  margin-bottom: 0;
}

.top-page-area .top-right .top-right-info ul li {
  margin-left: 10px;
}

.top-page-area .top-right .top-right-info ul li:nth-child(1) {
  border-right: 1px solid #dddddd;
  padding-right: 17px;
}

.top-page-area .top-right .top-right-info ul li:nth-child(2) {
  margin-left: 15px;
}

.top-page-area .top-right .top-social ul {
  margin-bottom: 0;
}

.top-page-area .top-right .top-social ul li {
  margin-left: 10px;
  padding-left: 15px;
}

header .wrap {
  height: 91px;
  position: relative;
}

header .wrap nav {
  min-height: 91px;
  padding: 0;
  background-color: white !important;
  z-index: 1000000;
}

header .wrap nav .navbar-brand {
  padding: 0 !important;
}

header .wrap .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.06em;
  font-weight: 700;
  padding: 35px 12px;
  color: #333333;
}

header .wrap .emergency-content {
  margin-top: 1%;
}

header .wrap .emergency-content ul {
  display: flex;
  margin-bottom: 0;
  justify-content: flex-end;
}

header .wrap .emergency-content ul li:nth-child(1) {
  margin-right: 13px;
}

header .wrap .emergency-content ul li:nth-child(1) i {
  font-size: 2.9rem;
  color: #1ebeb6;
}

header .wrap .emergency-content ul li:nth-child(2) {
  margin-bottom: 0;
}

header .wrap .emergency-content ul li:nth-child(2) p {
  text-transform: uppercase;
  font-size: 12px;
  color: #666666;
  font-weight: 600;
}

header .wrap .emergency-content ul li:nth-child(2) p strong {
  display: block;
  font-size: 18px;
  font-weight: 800 !important;
}

.carousel-zoom {
  overflow: hidden;
}

@keyframes bgZoom {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.2, 1.2);
  }
}

.carousel-zoom .carousel-item {
  max-height: 700px;
  overflow: hidden;
  border: 1px solid transparent;
}

.carousel-zoom .carousel-first-image {
  background-image: url("../img/1.jpg");
  height: 700px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: bgZoom 20s infinite;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  z-index: 0;
}

.carousel-zoom .carousel-content {
  position: absolute;
  top: 30%;
  left: 10%;
  overflow: hidden;
  border: 1px solid transparent;
}

.carousel-zoom .carousel-second-image {
  background-image: url("../img/2.jpg");
  height: 700px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  animation: bgZoom 20s infinite;
  overflow: hidden;
  border: 1px solid transparent;
}

.carousel-zoom .black-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  overflow: hidden;
  border: 1px solid transparent;
}

.carousel-zoom .content {
  z-index: 5;
}

.carousel-zoom .content h4 {
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 25px;
  font-size: 22px;
  color: white;
}

.carousel-zoom .content h2 {
  font-weight: 300;
  font-size: 80px;
  line-height: 1;
  margin-bottom: 25px;
  color: white;
}

.carousel-zoom .content h2 strong {
  display: block;
  font-weight: 900;
}

.carousel-zoom .content a {
  background: linear-gradient(90deg, #1ebeb6 0%, #00827c 100%);
  transition: all 0.35s ease-in-out;
  z-index: -1;
  display: inline-block;
  padding: 17px 32px;
  color: white;
  border-radius: 5px;
}

.carousel-zoom .content a i {
  height: 30px;
  background: #ffffff;
  color: #1ebeb6;
  line-height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 0;
  margin-right: 5px;
  text-align: center;
}

.emergency-case-area {
  padding: 110px 0;
}

.emergency-case-area .emergency-item i {
  display: inline-block;
  font-size: 40px;
  margin-bottom: 40px;
  color: #1ebeb6;
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
  position: relative;
  z-index: 1000;
}

.emergency-case-area .emergency-item i::after {
  background: url(../img/3.svg);
  position: absolute;
  top: -12px;
  left: -10px;
  content: "";
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: -1;
}

.emergency-case-area .emergency-item p {
  color: #666666;
  margin: 22px 0 15px;
  text-transform: none;
  font-weight: 400;
}

.emergency-case-area .emergency-item .phone {
  border-top: 1px dashed #cccccc;
  padding-top: 15px;
}

.emergency-case-area .emergency-item .phone span {
  color: #666666;
}

.emergency-case-area .img-area:before {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  height: 350px;
  width: 350px;
  background: #1ebeb6;
  z-index: -1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.1;
}

.emergency-case-area .img-area:after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  height: 300px;
  width: 300px;
  background: #1ebeb6;
  z-index: -1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.about-hospital {
  padding: 110px 0;
  position: relative;
  background-color: #f7f7f7;
  height: 100%;
}

.about-hospital .back-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
}

.about-hospital .hospital-about-image {
  position: relative;
  padding-right: 50px;
}

.about-hospital .hospital-about-image .hospital-intro {
  background-color: white;
  padding: 47px 30px;
  position: absolute;
  bottom: -10%;
  left: 17%;
}

.about-hospital .hospital-about-image .hospital-intro .video a {
  position: relative;
  display: inline-block;
  height: 68px;
  width: 68px;
  line-height: 68px;
  text-align: center;
  margin-top: 0 !important;
  margin-left: 10px;
  background: #1ebeb6;
  border-radius: 50%;
  animation: pulse 1500ms ease-out infinite;
}

.about-hospital .hospital-about-image .hospital-intro .video a i {
  font-size: 25px;
  color: white;
  position: relative;
  z-index: 3;
  text-align: center;
  top: 4%;
  left: 2%;
}

.about-hospital .hospital-about-image .hospital-intro .about-intro {
  margin-top: 1%;
  padding-left: 4%;
}

.about-hospital .hospital-about-image .hospital-intro .about-intro h5 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 19px;
}

.about-hospital .hospital-about-image .hospital-intro .about-intro p {
  color: #666666;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
  font-size: 15px;
}

.about-hospital .about-hospital-content {
  padding-left: 27px;
}

.about-hospital .about-hospital-content h5 {
  text-transform: uppercase;
  color: #1ebeb6;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 25px;
  margin-top: 0 !important;
}

.about-hospital .about-hospital-content h2 {
  color: #233645;
  font-weight: 600;
  line-height: 1.2;
  font-family: Inter, sans-serif;
  letter-spacing: 0;
  margin: 0;
  font-size: 32px;
}

.about-hospital .about-hospital-content p {
  font-size: 15px;
  color: #666666;
  margin-top: 20px;
}

.about-hospital .about-hospital-content ul {
  margin-top: 10px;
}

.about-hospital .about-hospital-content .icon i {
  font-size: 50px;
  margin-right: 20px;
  color: #1ebeb6;
}

.about-hospital .about-hospital-content .icon-about p {
  color: #233645;
  font-weight: 700;
}

.about-hospital .about-hospital-content a {
  background: linear-gradient(90deg, #1ebeb6 0%, #00827c 100%);
  transition: all 0.35s ease-in-out;
  z-index: -1;
  display: inline-block;
  padding: 17px 32px;
  color: white;
  border-radius: 5px;
  font-weight: 700;
}

.about-hospital .about-hospital-content a i {
  height: 30px;
  background: #ffffff;
  color: #1ebeb6;
  line-height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 0;
  margin-right: 5px;
  text-align: center;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.services {
  padding: 120px 0;
  background-color: #f7f7f7;
  position: relative;
}

.services .services-header .long-divider {
  display: inline-block;
  width: 40px;
  height: 1px;
  background-color: #1ebeb6;
}

.services .services-header .short-divider {
  display: inline-block;
  background-color: #1ebeb6;
  width: 5px;
  height: 1px;
}

.services .services-header h4 {
  color: #1ebeb6;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  font-size: 23px;
}

.services .services-header h2 {
  font-weight: 600;
  padding-bottom: 20px;
  margin-bottom: 0;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-align: center;
  color: #233645;
  font-size: 2rem;
}

.services .services-header p {
  color: #666666;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
  text-align: center;
  padding: 0 7%;
  font-size: 16px;
}

.services .background-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
}

.services .item {
  background-color: white;
  box-shadow: 0 0 10px #e7e7e7;
  margin-right: 15px;
}

.services .item .item-img {
  padding: 3% 3% 0 3%;
  background-color: white;
}

.services .item .item-content {
  padding: 30px;
}

.services .item .item-content h4 {
  color: #233645;
  font-size: 22px;
  margin-top: 0;
}

.services .item .item-content p {
  color: #666666;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
  font-size: 15px;
}

.services .item .item-content strong {
  color: black;
  font-weight: 500;
}

.services .item .item-content .icon {
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  background: linear-gradient(90deg, #1ebeb6 0%, #00827c 100%);
  color: #ffffff;
  padding: 13px 16px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  font-size: 14px;
}

.services .item .item-content .icon::after {
  position: absolute;
  left: -10%;
  top: -10%;
  content: "";
  height: 120%;
  width: 120%;
  background: #1ebeb6;
  z-index: -1;
  border-radius: 50%;
  opacity: 0.5;
}

.services .owl-carousel1 .owl-dots .owl-dot {
  display: inline-block;
}

.services .owl-carousel1 .owl-dots {
  text-align: center;
  margin-top: 2%;
}

.services .owl-carousel1 .owl-dots .owl-dot {
  outline: none;
}

.services .owl-carousel1 .owl-dots .owl-dot span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
  height: 20px;
  width: 20px;
  background: white;
  border: 2px solid #cccccc;
}

.consultation {
  padding: 120px 0;
}

.consultation h2 {
  font-weight: 600;
  margin-bottom: 25px;
  font-size: 32px;
}

.consultation p {
  font-size: 15px;
  margin-bottom: 32px;
}

.consultation .flat-icons {
  text-align: center;
  padding: 35px;
  background: #ffffff;
  text-align: center;
  border: 2px solid #1ebeb6;
}

.consultation .flat-icons img {
  width: 60px;
  height: 60px;
}

.consultation .flat-icons h5 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}

.consultation .margin-div {
  margin: 6% 6% 0 0;
}

.consultation .appoinment-form {
  background: #1ebeb6;
  padding: 12% 5%;
  position: relative;
}

.consultation .appoinment-form h4 {
  text-transform: capitalize;
  font-weight: 600;
  color: #ffffff;
  position: relative;
  z-index: 1;
  padding-bottom: 5px;
  font-size: 22px;
  text-align: center;
}

.consultation .appoinment-form .left-right-padding {
  padding: 0 4%;
}

.consultation .appoinment-form input {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 23px 25px;
  color: #ffffff;
}

.consultation .appoinment-form ::placeholder {
  color: white;
}

.consultation .appoinment-form select {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0 25px;
  color: #ffffff;
}

.consultation .appoinment-form button {
  padding: 12px 40px;
  background: #ffffff;
  color: #1ebeb6;
  text-transform: capitalize;
  font-weight: 600;
  width: 100%;
  border: none;
  border-radius: 30px;
}

.consultation .appoinment-form .nice-select {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0 25px;
  color: #ffffff;
}

.consultation .appoinment-form .nice-select ul {
  width: 100%;
}

.consultation .appoinment-form .nice-select ul li {
  color: black;
}

.consultation .appoinment-form::after {
  position: absolute;
  left: -30px;
  top: -30px;
  content: "";
  height: 100%;
  width: 100%;
  background: #1ebeb6;
  z-index: -1;
  opacity: 0.2;
}

.doctor-lists {
  background-color: white;
  overflow: hidden;
}

.doctor-lists .doctor-list-back {
  background: url("../img/doctorlist.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 780px;
}

.doctor-lists .common-style {
  z-index: 5;
}

.doctor-lists .common-style .doctor-list-content {
  padding: 80px 50px;
  background: #ffffff;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08);
  position: relative;
  left: -139px;
  top: 15%;
  border-bottom: 3px solid #1ebeb6;
}

.doctor-lists .common-style .doctor-list-content h4 {
  color: #1ebeb6;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  position: relative;
  margin-bottom: 25px;
  font-size: 1.25rem;
}

.doctor-lists .common-style .doctor-list-content h2 {
  font-weight: 600;
  margin-bottom: 25px;
  color: #233645;
}

.doctor-lists .common-style .doctor-list-content p {
  color: #666666;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
}

.doctor-lists .common-style .doctor-list-content a {
  background: linear-gradient(90deg, #1ebeb6 0%, #00827c 100%);
  transition: all 0.35s ease-in-out;
  z-index: -1;
  display: inline-block;
  padding: 17px 32px;
  color: white;
  border-radius: 5px;
  font-weight: 700;
}

.doctor-lists .common-style .doctor-list-content a i {
  height: 30px;
  background: #ffffff;
  color: #1ebeb6;
  line-height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 0;
  margin-right: 5px;
  text-align: center;
}

.doctor-lists .common-style .doctor-list-content::after {
  position: absolute;
  right: -120px;
  top: -141px;
  content: "";
  height: 300px;
  width: 300px;
  background: url("../img/dotted-shape.png");
  z-index: -1;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.testimonials {
  padding: 120px 0;
  overflow: hidden;
}

.testimonials .testimonial-header {
  position: relative;
  padding-left: 29%;
}

.testimonials .testimonial-header h5 {
  font-weight: 700;
  margin-bottom: 25px;
  color: white;
}

.testimonials .testimonial-header h2 {
  color: white;
  font-weight: 600;
  margin-bottom: 15px;
}

.testimonials .testimonial-header a {
  background: #ffffff;
  transition: all 0.35s ease-in-out;
  z-index: -1;
  display: inline-block;
  padding: 12px 25px;
  color: #233645;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
}

.testimonials .testimonial-header a i {
  height: 30px;
  background: #1ebeb6;
  color: white;
  line-height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 0;
  margin-right: 5px;
  text-align: center;
}

.testimonials .testimonial-header::before {
  content: "\f10d";
  position: absolute;
  left: 28%;
  top: -100px;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 120px;
  opacity: 0.2;
  color: white;
}

.testimonials .testimonial-header::after {
  content: "";
  position: absolute;
  right: 0;
  top: -200%;
  height: 500%;
  width: 500%;
  background: #1ebeb6;
  z-index: -1;
}

.testimonials .carousel .owl-stage-outer {
  padding: 15px 0;
}

.testimonials .carousel .owl-stage-outer .item {
  box-shadow: 0 0 10px #b4b4b4;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 50px 30px;
}

.testimonials .carousel .owl-stage-outer .item .item-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.testimonials .carousel .owl-stage-outer .item .item-img img {
  border-radius: 50%;
}

.testimonials .carousel .owl-stage-outer .item .item-content {
  text-align: center;
}

.testimonials .carousel .owl-stage-outer .item h5 {
  color: #233645;
  font-weight: 600;
  margin-bottom: 5px;
}

.testimonials .carousel .owl-stage-outer .item span {
  display: inline-block;
  margin-bottom: 13px;
  font-size: 12px;
  text-transform: uppercase;
}

.testimonials .carousel .owl-stage-outer .item span strong {
  color: #1ebeb6;
}

.testimonials .carousel .owl-stage-outer .item p {
  margin: 0;
}

.testimonials .carousel .owl-dots .active {
  position: relative;
  z-index: 0;
}

.testimonials .carousel .owl-dots .active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1ebeb6;
  z-index: 1;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.testimonials .carousel .owl-dots .owl-dot {
  user-select: none;
}

.testimonials .carousel .owl-dots .owl-dot:focus {
  outline: none;
}

.testimonials .carousel .owl-dots .owl-dot span {
  display: block;
  width: 20px;
  height: 20px;
  margin: 5px;
  background: white !important;
  border: 2px solid #cccccc;
}

.doctors-filter {
  padding: 120px 0;
}

.doctors-filter .nav-link {
  border: none;
  padding: 20px 15px;
  background: rgba(30, 190, 182, 0.1);
  border-radius: inherit;
  align-items: center;
}

.doctors-filter .background-color {
  background: #1ebeb6;
  color: white;
}
