.top-page-area {


  padding: 18px 0;

  border-bottom: 1px solid #e7e7e7;

  a {
    color: #233645;
    font-weight: 700;
  }

  .top-left {
    color: #666666;
    margin-bottom: 0;

    @include lg {
      text-align: center;
    }

    a {
      color: black;
      text-decoration: underline;
      font-weight: 600;
    }
  }

  .top-right {
    @include lg {
      margin-top: 3%;
      justify-content: center !important;
    }

    .top-right-info {
      margin-right: 2%;

      ul {
        margin-bottom: 0;

        li {
          margin-left: 10px;

          &:nth-child(1) {
            border-right: 1px solid #dddddd;
            padding-right: 17px;
          }

          &:nth-child(2) {
            margin-left: 15px;
          }
        }
      }
    }

    .top-social {
      ul {
        margin-bottom: 0;

        li {
          margin-left: 10px;
          padding-left: 15px;
        }
      }
    }
  }

  @include md {
    display: none;
  }
}