* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
  }
  
  li {
    list-style-type: none !important;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .wrapper {
    transition: all 0.3s ease-in-out;
  }