* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

li {
  list-style-type: none !important;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  transition: all 0.3s ease-in-out;
}

@import '../scss/mixins';

@import '../scss/partials/homePage/preIcon';
@import '../scss/partials/homePage/topPageArea';
@import '../scss/partials/homePage/header';
@import '../scss/partials/homePage/carouselZoom';
@import '../scss/partials/homePage/emergencyCaseArea';
@import '../scss/partials/homePage/hospitalAbout';
@import '../scss//partials/homePage/services';
@import '../scss/partials/homePage/consultation';
@import '../scss/partials/homePage/doctorLists';
@import '../scss/partials/homePage/doctorsFilter';
@import '../scss/partials/homePage/testimonials';
@import '../scss/partials/homePage/latestBlog';
@import '../scss/partials/homePage/helpForm';
@import '../scss/partials/homePage/footer';



@import '../scss/partials/aboutUs/breadcrumbArea';
@import '../scss/partials/aboutUs/aboutUsServices';
@import '../scss/partials/aboutUs/aboutUsDoctors';

@import '../scss/partials/departments/countArea';

@import '../scss/partials/blogThreeColumn/blog.scss';

@import '../scss/partials/blogSingle/blogSingle';