* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

li {
  list-style-type: none !important;
}

a:hover {
  text-decoration: none;
}

@import '../scss/partials/homePage/topPageArea';
@import '../scss/partials/homePage/header';
@import '../scss/partials/homePage/carouselZoom';
@import '../scss/partials/homePage/emergencyCaseArea';
@import '../scss/partials/homePage/hospitalAbout';
@import '../scss//partials/homePage/services';
@import '../scss/partials/homePage/consultation';
@import '../scss/partials/homePage/doctorLists';
@import '../scss/partials/homePage/doctorsFilter';
@import '../scss/partials/homePage/testimonials';
@import '../scss/partials/homePage/latestBlog';

.help-form {
  padding: 120px 0;

  height: 100%;

  .help-form-image {
    height: 460px;
    width: 100%;
    background: url('../img/help.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .contacts {
      background-color: white;
      position: absolute;
      padding: 36px 30px 17px 30px;
      bottom: -1px;
      left: 30px;
      width: 90%;
      display: flex;
      justify-content: space-evenly;

      ul {
        display: flex;
        justify-content: space-evenly;

        li {
          padding: 0 30px;

          h5 {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
            color: #233645;

            img {
              width: 37px;
              height: 30px;
              margin-right: 4%;
            }
          }

          span {
            font-size: 15px;
            font-weight: 400;
            line-height: 30px;
            color: #666666;
          }
        }
      }
    }


  }

  .help-form-area {
    margin-left: 6%;

    h2 {
      color: #233645;
      font-weight: 600;

      strong {
        display: block;
        color: #1ebeb6;
        margin-top: 5px;
        font-weight: 700;
      }
    }

    form {

      input,
      textarea {
        border: none !important;
        border-bottom: 1px solid #e7e7e7 !important;
        box-shadow: none !important;
        margin-top: 3%;
      }

      button {
        background: linear-gradient(90deg, rgba(30, 190, 182, 1) 0%, rgba(0, 130, 124, 1) 100%);
        padding: 12px 35px;
        border-radius: 30px;
        color: #ffffff;
        font-weight: 700;
        border: none;
        margin-top: 15px;
      }
    }
  }

}

footer {
  padding-top: 120px;
  background-color: #001d4c !important;

  .footer-logo-area {
    p {
      color: #96aac1;
      line-height: 30px;
      font-size: 15px;
      margin-top: 9%;
    }

    ul {
      li {
        margin-top: 9%;

        .icon {
          img {
            width: 37px;
            height: 30px;
          }
        }

        .icon-info {
          margin-left: 4%;

          h5 {
            margin-bottom: 10px;
            text-transform: capitalize;
            font-weight: 600;
            font-size: 18px;
            color: white;
          }

          span {
            color: #96aac1;
          }

        }
      }
    }





  }

  .departments,
  .usefull-links {
    h4 {
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 22px;
      color: white;
    }

    ul {
      li {
        list-style-type: disc !important;
        font-weight: 600;
        color: #96aac1;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
        padding-left: 3px;

      }
    }
  }

  .branches {
    background: rgba(255, 255, 255, 0.05);
    padding: 28px;
    border-bottom: 2px solid #1ebeb6;


    ul {
      li {
        strong {
          color: white;
        }

        p {
          color: #96aac1;
          font-size: 15px;
          line-height: 30px;
          margin-top: 15px;
        }
      }
    }
  }

  .footer-bottom {
    background: rgba(255, 255, 255, 0.03);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    margin-top: 120px;

    p {
      color: white;
      margin: 0 !important;

      a {
        color: white;
        font-weight: 600;
      }
    }

    .social-medias {
      ul {
        margin-bottom: 0 !important;

        li {
          margin-left: 20px;

          a {
            color: white;

            i {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}