* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

li {
  list-style-type: none !important;
}

a:hover {
  text-decoration: none;
}

@import '../scss/partials/homePage/topPageArea';
@import '../scss/partials/homePage/header';
@import '../scss/partials/homePage/carouselZoom';
@import '../scss/partials/homePage/emergencyCaseArea';
@import '../scss/partials/homePage/hospitalAbout';
@import '../scss//partials/homePage/services';
@import '../scss/partials/homePage/consultation';
@import '../scss/partials/homePage/doctorLists';
@import '../scss/partials/homePage/testimonials';

.doctors-filter {
  padding: 120px 0;

  .nav-link {
    border: none;
    padding: 20px 15px;
    background: rgba(30, 190, 182, 0.1);
    border-radius: inherit;
    align-items: center;
  }

  .background-color {
    background: rgba(30, 190, 182, 1);
    color: white;
  }
}