.about-us-services {
    padding: 120px 0;
    background-color: white;
    position: relative;
    @include lg{
        padding: 70px 0;
    }

    .services-header {
        .long-divider {
            display: inline-block;
            width: 40px;
            height: 1px;
            background-color: #1ebeb6;
        }

        .short-divider {
            display: inline-block;
            background-color: #1ebeb6;
            width: 5px;
            height: 1px;
        }

        h4 {
            color: #1ebeb6;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            font-size: 23px;
        }

        h2 {
            font-weight: 600;
            padding-bottom: 20px;
            margin-bottom: 0;
            text-transform: capitalize;
            letter-spacing: 1px;
            text-align: center;
            color: #233645;
            font-size: 2rem;
        }

        p {
            color: #666666;
            margin: 0 0 15px;
            text-transform: none;
            font-weight: 400;
            text-align: center;
            padding: 0 7%;
            font-size: 16px;
        }


    }

    .item {
        background-color: white;
        box-shadow: 0 0 10px #e7e7e7;
        margin-right: 15px;
        position: relative;
        padding: 50px 30px 50px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 7%;

        h2 {
            color: #233645;
            font-size: 22px;
            font-weight: 700;
        }

        .item-img {
            background: #1ebeb6;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 9%;

            img {
                width: 45px;
                height: 45px;
            }

            &::before {
                position: absolute;
                content: "";
                width: 100px;
                height: 100px;
                background: url('../../../img/aboutUsServices/shape10.png');
                background-size: contain;
                background-repeat: no-repeat;
                opacity: 0.3;
                transition: all 0.35s ease-in-out;
            }



        }

        &:hover {
            .item-img::before {
                animation: spin 10s infinite linear;
                opacity: 1;
            }
        }

        p {
            color: #666666;
            margin: 0 0 15px;
            text-transform: none;
            font-weight: 400;
            margin-top: 8%;
            font-size: 15px;
            line-height: 30px;
        }

        a {
            background: white;
            transition: all 0.35s ease-in-out;
            z-index: -1;
            display: inline-block;
            padding: 10px 25px;
            font-size: 14px;
            color: #1ebeb6;
            border-radius: 40px;
            font-weight: 700;
            margin-top: 4%;
            border: 2px solid #1ebeb6;

            i {
                height: 30px;
                background: #1ebeb6;
                color: white;
                line-height: 30px;
                width: 30px;
                border-radius: 50%;
                margin-left: 0;
                margin-right: 5px;
                text-align: center;
                transition: all 0.35s ease-in-out;

            }

            &:hover {
                background: #1ebeb6;
                color: white;

                i {
                    background: white;
                    color: #1ebeb6;

                }
            }
        }

    }

    .owl-dots {
        text-align: center;
        margin-top: 3%;

        .active {
            position: relative;
            z-index: 0;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #1ebeb6;
                z-index: 1;
                width: 5px;
                height: 5px;
                border-radius: 50%;
            }
        }

        .owl-dot {
            &:focus {
                outline: none;
            }

            user-select: none;

            span {
                display: block;
                width: 20px;
                height: 20px;
                margin: 5px;
                background: white !important;
                border: 2px solid #cccccc;
                border-radius: 50%;
            }
        }
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}