.breadcrumb-area {
    padding: 140px 0;
    background: linear-gradient(90deg, rgba(30, 190, 182, 1) 0%, rgba(0, 130, 124, 1) 100%);
    position: relative;
    text-align: center;

    @include md {
        padding: 100px 0;
    }

    .breadcrumb-background {
        background-image: url('../../../img/breadcrumb.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center left;
        opacity: 0.5;
    }


    h1 {
        font-weight: 700;
        color: #ffffff;
        text-transform: capitalize;
        text-align: center;
    }

    ul {
        background: transparent none repeat scroll 0 0;
        display: inline-block;
        text-align: center;
        @include sm{
            padding: 0!important;
        }

        li {
            position: relative;
            z-index: 1;
            margin: 0 7px;
            padding: 0 7px;
            color: #ffffff;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            text-align: center;
            display: inline-block;
            &:nth-child(3){
                text-decoration: underline;
            }

            a {
                position: relative;
                font-size: 14px;
                color: #ffffff;

                &::after {
                    content: "";
                    font-family: 'themify';
                    font-weight: 600;
                    color: #ffffff;
                    position: absolute;
                    right: -15px;
                    height: 8px;
                    width: 8px;
                    border: 2px solid rgba(255, 255, 255, 0.7);
                    border-radius: 50%;
                    top: 4px;
                }
            }
        }
    }
}